<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>todo</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="todo">
      <h3>TODO:</h3>
      <form class="" action="/add" method="post">
        <input type="text" name="newItem" value="" placeholder="Add todo here">
        <textarea name="description" rows="1" cols="40" placeholder="Add description here"></textarea>
        <button type="submit" name="button">Add</button>
      </form>
      <ul>
        {{#todolist}}
        {{#dataValues}}
        {{^completed_at}}
        <li><span>{{todo}}</span>
          <span>{{description}}</span>
          <span>{{created_at}}</span>
          <form action="/remove" method="post">
            <button type="submit" name="doneId" value="{{id}}">X</button>
          </form>
        </li>
        {{/completed_at}}
        {{/dataValues}}
        {{/todolist}}
      </ul>
    </div>
    <div class="done">
      <h3>Complete:</h3>
      <ul>
        {{#todolist}}
        {{#dataValues}}
        {{#completed_at}}
        <s><li>{{todo}}</li></s>
        {{/completed_at}}
        {{/dataValues}}
        {{/todolist}}
      </ul>
    </div>
  </body>
</html>
